xsd/lite_versions/vast_v2.0_lite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="VAST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ad" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
              <xs:element name="InLine" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AdSystem" minOccurs="1" maxOccurs="1" type="AdSystem_type" />
                    <xs:element name="AdTitle" minOccurs="1" maxOccurs="1" type="xs:string" />
                    <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="Survey" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                    <xs:element name="Error" minOccurs="0" maxOccurs="unbounded" type="xs:anyURI" />
                    <xs:element name="Impression" minOccurs="1" maxOccurs="unbounded" type="AnyURI_type" />
                    <xs:element name="Creatives" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Creative" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element name="Linear" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Duration" minOccurs="1" maxOccurs="1" type="xs:time" />
                                        <xs:element name="TrackingEvents" minOccurs="0" maxOccurs="1">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="Tracking" minOccurs="0" maxOccurs="unbounded" type="Tracking_type" />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AdParameters" minOccurs="0" maxOccurs="1" type="xs:string" />
                                        <xs:element name="VideoClicks" minOccurs="0" maxOccurs="1">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="ClickThrough" minOccurs="0" maxOccurs="1" type="AnyURI_type" />
                                              <xs:element name="ClickTracking" minOccurs="0" maxOccurs="unbounded" type="AnyURI_type" />
                                              <xs:element name="CustomClick" minOccurs="0" maxOccurs="unbounded" type="AnyURI_type" />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MediaFiles" minOccurs="1" maxOccurs="1">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="MediaFile" minOccurs="1" maxOccurs="unbounded" type="MediaFile_type" />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="CompanionAds" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Companion" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:choice>
                                                <xs:element name="StaticResource" minOccurs="0" maxOccurs="1" type="StaticResource_type" />
                                                <xs:element name="IFrameResource" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                                <xs:element name="HTMLResource" minOccurs="0" maxOccurs="1" type="xs:string" />
                                              </xs:choice>
                                              <xs:element name="AdParameters" minOccurs="0" maxOccurs="1" type="xs:string" />
                                              <xs:element name="AltText" minOccurs="0" maxOccurs="1" type="xs:string" />
                                              <xs:element name="CompanionClickThrough" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                              <xs:element name="TrackingEvents" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Tracking" minOccurs="0" maxOccurs="unbounded" type="Tracking_type" />
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="id" type="xs:string" use="optional" />
                                            <xs:attribute name="width" type="xs:integer" use="required" />
                                            <xs:attribute name="height" type="xs:integer" use="required" />
                                            <xs:attribute name="expandedWidth" type="xs:integer" use="optional" />
                                            <xs:attribute name="expandedHeight" type="xs:integer" use="optional" />
                                            <xs:attribute name="apiFramework" type="xs:string" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="NonLinearAds" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="NonLinear" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:choice>
                                                <xs:element name="StaticResource" minOccurs="0" maxOccurs="1" type="StaticResource_type" />
                                                <xs:element name="IFrameResource" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                                <xs:element name="HTMLResource" minOccurs="0" maxOccurs="1" type="xs:string" />
                                              </xs:choice>
                                              <xs:element name="AdParameters" minOccurs="0" maxOccurs="1" type="xs:string" />
                                              <xs:element name="NonLinearClickThrough" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                            </xs:sequence>
                                            <xs:attribute name="id" type="xs:string" use="optional" />
                                            <xs:attribute name="width" type="xs:integer" use="required" />
                                            <xs:attribute name="height" type="xs:integer" use="required" />
                                            <xs:attribute name="expandedWidth" type="xs:integer" use="optional" />
                                            <xs:attribute name="expandedHeight" type="xs:integer" use="optional" />
                                            <xs:attribute name="scalable" type="xs:boolean" use="optional" />
                                            <xs:attribute name="maintainAspectRatio" type="xs:boolean" use="optional" />
                                            <xs:attribute name="minSuggestedDuration" type="xs:time" use="optional" />
                                            <xs:attribute name="apiFramework" type="xs:string" use="optional" />
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TrackingEvents" minOccurs="0" maxOccurs="1">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="Tracking" minOccurs="0" maxOccurs="unbounded" type="Tracking_type" />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="optional" />
                              <xs:attribute name="sequence" type="xs:integer" use="optional" />
                              <xs:attribute name="AdID" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Extensions" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Extension" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any" />
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Wrapper" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AdSystem" minOccurs="1" maxOccurs="1" type="AdSystem_type" />
                    <xs:element name="VASTAdTagURI" minOccurs="1" maxOccurs="1" type="xs:anyURI" />
                    <xs:element name="Error" minOccurs="0" maxOccurs="unbounded" type="xs:anyURI" />
                    <xs:element name="Impression" minOccurs="1" maxOccurs="unbounded" type="AnyURI_type" />
                    <xs:element name="Creatives" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Creative" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:choice>
                                <xs:element name="Linear" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TrackingEvents" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Tracking" minOccurs="0" maxOccurs="unbounded" type="Tracking_type" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="VideoClicks" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ClickTracking" minOccurs="0" maxOccurs="unbounded" type="AnyURI_type" />
                                            <xs:element name="CustomClick" minOccurs="0" maxOccurs="unbounded" type="AnyURI_type" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CompanionAds" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Companion" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:choice>
                                              <xs:element name="StaticResource" minOccurs="0" maxOccurs="1" type="StaticResource_type" />
                                              <xs:element name="IFrameResource" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                              <xs:element name="HTMLResource" minOccurs="0" maxOccurs="1" type="xs:string" />
                                            </xs:choice>
                                            <xs:element name="AdParameters" minOccurs="0" maxOccurs="1" type="xs:string" />
                                            <xs:element name="AltText" minOccurs="0" maxOccurs="1" type="xs:string" />
                                            <xs:element name="CompanionClickThrough" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                            <xs:element name="TrackingEvents" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Tracking" minOccurs="0" maxOccurs="unbounded" type="Tracking_type" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:string" use="optional" />
                                          <xs:attribute name="width" type="xs:integer" use="required" />
                                          <xs:attribute name="height" type="xs:integer" use="required" />
                                          <xs:attribute name="expandedWidth" type="xs:integer" use="optional" />
                                          <xs:attribute name="expandedHeight" type="xs:integer" use="optional" />
                                          <xs:attribute name="apiFramework" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="NonLinearAds" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="NonLinear" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:choice>
                                              <xs:element name="StaticResource" minOccurs="0" maxOccurs="1" type="StaticResource_type" />
                                              <xs:element name="IFrameResource" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                              <xs:element name="HTMLResource" minOccurs="0" maxOccurs="1" type="xs:string" />
                                            </xs:choice>
                                            <xs:element name="AdParameters" minOccurs="0" maxOccurs="1" type="xs:string" />
                                            <xs:element name="NonLinearClickThrough" minOccurs="0" maxOccurs="1" type="xs:anyURI" />
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:string" use="optional" />
                                          <xs:attribute name="width" type="xs:integer" use="required" />
                                          <xs:attribute name="height" type="xs:integer" use="required" />
                                          <xs:attribute name="expandedWidth" type="xs:integer" use="optional" />
                                          <xs:attribute name="expandedHeight" type="xs:integer" use="optional" />
                                          <xs:attribute name="scalable" type="xs:boolean" use="optional" />
                                          <xs:attribute name="maintainAspectRatio" type="xs:boolean" use="optional" />
                                          <xs:attribute name="minSuggestedDuration" type="xs:time" use="optional" />
                                          <xs:attribute name="apiFramework" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="TrackingEvents" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Tracking" minOccurs="0" maxOccurs="unbounded" type="Tracking_type" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                              <xs:attribute name="id" type="xs:string" use="optional" />
                              <xs:attribute name="sequence" type="xs:integer" use="optional" />
                              <xs:attribute name="AdID" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Extensions" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Extension" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any" />
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="id" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdSystem_type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="version" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AnyURI_type">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="id" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MediaFile_type">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="delivery" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="streaming" />
              <xs:enumeration value="progressive" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="bitrate" type="xs:integer" use="optional" />
        <xs:attribute name="width" type="xs:integer" use="required" />
        <xs:attribute name="height" type="xs:integer" use="required" />
        <xs:attribute name="scalable" type="xs:boolean" use="optional" />
        <xs:attribute name="maintainAspectRatio" type="xs:boolean" use="optional" />
        <xs:attribute name="apiFramework" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StaticResource_type">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="creativeType" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Tracking_type">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="event" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="creativeView" />
              <xs:enumeration value="start" />
              <xs:enumeration value="firstQuartile" />
              <xs:enumeration value="midpoint" />
              <xs:enumeration value="thirdQuartile" />
              <xs:enumeration value="complete" />
              <xs:enumeration value="mute" />
              <xs:enumeration value="unmute" />
              <xs:enumeration value="pause" />
              <xs:enumeration value="rewind" />
              <xs:enumeration value="resume" />
              <xs:enumeration value="fullscreen" />
              <xs:enumeration value="expand" />
              <xs:enumeration value="collapse" />
              <xs:enumeration value="acceptInvitation" />
              <xs:enumeration value="close" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>